$primary : #23A6D1;
$red: #B20F0F;

// social icons

$facebook: #3B5998;
$twitter:  #33CCFF;
$google:   #C63D2D;
$linkedin: #0181b2;
$youTube:  #FF3333;
$flickr:   #FE0883;
$dribbble: #EA4C89;

// odd & ends

.spacer{
	margin-top: 20px;
}

.block{
	padding: 10px 0px;
}